.form-group
  label(for='title') Title:
  input.form-control(type='title', placeholder='Enter event name', value=question.title)
.form-group
  label(for='event_des') place:
  textarea.form-control(name="content", rows="5")= question.place
.form-group
  label(for='event_des') Event description:
  textarea.form-control(name="content", rows="5")= question.content1
.form-group
  label(for='Host_name') Host name:
  input(type='text', value=question.host)
.form-group
  label(for='msg') host description:
  textarea.form-control(name="content", rows="5")= question.content2
.form-group
  label(for='category') category:
  br
  select= question.category
    option(value='Music') Music
    option(value='Food & Drink') Food &amp; Drink
    option(value='Classes') Classes
    option(value='Arts') Arts
    option(value='Parties') Parties
    option(value='Networking') Networking
.form-group
  label(for='fee') fee:
  br
  label(for='free') free
  input(type='radio', value=question.free, name="fee")
  label(for='pay') pay
  input(type='radio', value=question.pay, name="fee")
  .form-group
    label(for="tags") Tags
    input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
